<div class="wrapper">

    <div class="one"><%= image_tag("icones.png",  :size => "318x23", class:"img-icons") %></div>

    <div class="two">
      <center><h1>One Account. <br>
      Everything Intuit.</h1></center>
      <p>Sign in to your Intuit account to access all our <br>
        products including Mint. Learn more</center></p>
      </center>
    </div>

    <div class="four">
      <%= render 'devise/registrations/form' %>
      <div class="License">
        <p>By clicking Sign In, you agree to our <br>
License Agreement and Privacy Statement.</p>
      </div>
    </div>

  <div class="five">
dsqd
  </div>
</div>
