// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #eceef1;
}
html, h1, h2, h3, h4 {
  font-family: 'AvenirNext',Avenir,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
  // ===================
  //      section
  // ===================

  .one, .two, .three, .four, .five {
    border-left: solid 1px #c7c7c7;
    border-right: solid 1px #c7c7c7;
  }

  .wrapper {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(120px, auto);

  .one {
    grid-column: 4 / 6;
    grid-row: 0.5;
    background-color: white;
    display: flex;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    border-top: solid 1px #c7c7c7;


    }

  .oneA {  border-right: solid 1px; }
  .oneB {  border-right: solid 1px; }
  .oneC {  border-right: solid 1px; }

  .two {
    grid-column: 4 / 6;
    grid-row:auto;
    background-color: white;
  }

  .three {
    grid-column: 4 / 6;
    grid-row: auto;
    background-color: white;
  }
  .four {
    grid-column: 4 / 6;
    grid-row: auto;
    background-color: white;
  }

  .five {
    grid-column: 4 / 6;
    grid-row: auto;
    background-color: white;

    border-bottom: solid 1px #c7c7c7;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  .interligne-descr {
    height: 27px;
}
}
/*
########################
      Header/Footer
########################
*/
.center-title{
    margin-top: 70px;
    margin-right:auto;
    margin-left:auto;
    background-image:url(https://accounts.intuit.com/images/v2/ecosystem_logos_new@2x.png);
    background-size: 460px 83px;
    width: 118px;
    height: 35px;
}

.center-title-mini{
    margin-top: 10px;
    margin-right:auto;
    margin-left:auto;
    background-image:url(https://accounts.intuit.com/images/v2/ecosystem_logos_new@2x.png);
    background-size: 230px 41px;
    width: 59px;
    height: 17px;
}

.navbar {
  margin-bottom: 5vh;
  height: 20%;
}
button {
  float:right;
  // TODO
}

*,
*:before,
*:after {
   box-sizing: border-box;
}
/*
########################
      Formulaire
########################
form {
// margin-bottom: 22px;
}

input {
// font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/

form {
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow: hidden;
}
fieldset {
  // border: 0;
  // margin: 0;
  // padding: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.register-group {
  margin: 10px 10px 10px 10px;
}
.register-group label {
  color: #648880;
  cursor: pointer;
  font-weight: 400;

}
.register-group input,
.register-group select,
.register-group textarea {
  border: 1px solid #c6c9cc;
  border-radius: 2px;
  color: #888;
  display: block;
  margin: 5px 0 27px 0;
  padding: 5px 8px;
}
.register-group input,
.register-group textarea {
  width: 100%;
}
.register-group select {
  height: 34px;
  width: 60px;
}
.register-group textarea {
  height: 78px;
}
