<center>
  <div class="center-title-mini"></div>

  <div class="footer-text">
    <p>LegalPrivacySecurity <br>
    © 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc. <br>
    Terms and conditions, features, support, pricing, and service options subject to change without notice.</p>
  </div>
</center>
