<center>
  <div class="footer-logo">
    <a class="navbar-brand" href="#"><%= link_to image_tag("logo-intuit-preferred.jpg", :size => "100x100", class: "mini-logo")%></a>
  </div>
  <div class="footer-text">
    <p>LegalPrivacySecurity</p>
    <p>© 2017 Intuit, Inc. All rights reserved. Intuit, QuickBooks, QB, TurboTax, ProConnect and Mint are registered trademarks of Intuit Inc.</p>
    <p>Terms and conditions, features, support, pricing, and service options subject to change without notice.</p>
  </div>
</center>
